*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* dark overlay on body */
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}
h1{
    font-size: 60px;
    text-transform: capitalize;
    font-weight: bold;
}


#countdown{
    /* display: flex; */
    display: none;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    transform: scale(1.5);
}
body *{
    z-index: 1;
}
#year{
    font-size: 200px;
    z-index: -1;
    position: absolute;
    bottom: 0;
    opacity: 0.2;
}